{% extends 'index.html' %} {% block body%}

<div class="container-fluid ">
    <div class="d-flex">
        <div class="row margin-top: 10px p-2">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>                                Nalog <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>                                Zahtevi
                            </a>
                        </li>

                    </ul>


                </div>
            </nav>
        </div>


        <div class="row justify-content-center p-2">







            <div class="my-5">
                <h3>Novi zahtev</h3>
                <form>

                    <div class="form-group">
                        <label for="Br. zahteva">Br. zahteva</label>
                        <input type="text" class="form-control" id="Ime" name="id">

                    </div>
                    <div class="form-group">
                        <label for="Datum">Datum</label>
                        <input type="text" class="form-control" id="Prezime" name="datum">

                    </div>
                    <div class="form-group">
                        <label for="Ko je kreirao zahtev">Ko je kreirao zahtev</label>
                        <input type="text" class="form-control" id="email" name="zaposleni">

                    </div>
                    <div class="form-group">
                        <label for="Kompanija">Kompanija</label>
                        <input type="text" class="form-control" id="password" name="kompanija">

                    </div>
                    <div class="form-group">
                        <label for="lozinka">Ime i prezime podnosioca</label>
                        <input type="text" class="form-control" id="password" name="zaposleni">

                    </div>

                    <div class="form-group">
                        <label for="zahtev">Zahtev</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                    </div>

                    <h2>Izveštaj o realizaciji zahteva</h2>

                    <div class="form-group">
                        <label for="zahtev">Zahtev</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                    </div>
                    <div class="form-group">
                        <label for="Tip zahteva">Tip zahteva</label>
                        <input type="text" class="form-control" id="Prezime" name="tipzahteva">

                    </div>
                    <div class="form-group">
                        <label for="Ocekivani datum">Ocekivani datum</label>
                        <input type="date" class="form-control" id="email" name="ocekivani datum">

                    </div>
                    <div class="form-group">
                        <label for="Status">Status</label>
                        <input type="text" class="form-control" id="password" name="status">

                    </div>

                    <div class="form-group">
                        <label for="Komentar">Komentar</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                    </div>
                    <div class="form-group">
                        <label for="Utroseno sati">Utroseno sati</label>
                        <input type="text" class="form-control" id="password" name="sati">

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

</div>

{% endblock%}