{% extends 'index.html' %} {% block body%}

<div id="wrapper">

    {% include 'pretraga.html' %}
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">


            <nav class="navbar  navbar-light bg-white topbar mb-4 static-top shadow">

                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
                </form>





                <a class="btn btn-primary col-xs-3" href="{{url_for('logout')}}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Odjavi se</span></a>


            </nav>

            <div class="container-fluid">


                <div class="p-5 " style="width: 500px;">
                    <div class="">
                        <h1 class="h4 text-gray-900 mb-4">Izmena korisnika</h1>
                    </div>
                    <form action="{{url_for('a_korisnik_izmena', id=korisnik.id)}}" method="POST" class="user">
                        <div class="form-group">
                            <label for="ime">Ime</label>
                            <input type="text" class="form-control" value="{{korisnik.ime}}" name="ime">

                        </div>
                        <div class="form-group">
                            <label for="Prezime">Prezime</label>
                            <input type="text" class="form-control" value="{{korisnik.prezime}}" name="prezime">

                        </div>
                        <div class="form-group">
                            <label for="Kompanija">Kompanija</label>
                            <input type="text" class="form-control" value="{{korisnik.kompanija_naziv}}" name="username" disabled>
                        </div>


                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" value="{{korisnik.email}}" name="email">

                        </div>
                        <div class="form-group">
                            <label for="Username">Username</label>
                            <input type="text" class="form-control" value="{{korisnik.username}}" name="username">

                        </div>

                        <div class="form-group">
                            <label for="lozinka">Password</label>
                            <input type="password" class="form-control" value="{{korisnik.password}}" name="password" readonly="readonly">

                        </div>
                        <button type="submit" class="btn btn-primary"> Sacuvaj </button>
                    </form>
                </div>


            </div>

        </div>
    </div>
</div>


{% endblock%}