{% extends 'index.html' %} {% block body%}
<div id="wrapper">

    {% include 'pretraga.html' %}
    <div id="content-wrapper" class="d-flex flex-column">


        <div id="content">


            <nav class="navbar  navbar-light bg-white topbar mb-4 static-top shadow">


                <form class="form-inline">

                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
                </form>





                <a class="btn btn-primary col-xs-3" href="{{url_for('logout')}}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Odjavi se</span></a>


            </nav>

            <div class="container-fluid">


                <div class="p-5 " style="width: 500px;">
                    <div class="">
                        <h1 class="h4 text-gray-900 mb-4">Izmena kompanije</h1>
                    </div>
                    <form action={{ url_for( 'a_kompanija_izmena', id=kompanija.id, korisnik=kompanija.korisnici.id ) }} method="POST">
                        <div class="form-group">
                            <label for="kompanija">Naziv kompanije</label>
                            <input type="text" class="form-control" value="{{kompanija.naziv}}" name="naziv">

                        </div>
                        <div class="form-group">
                            <label for="ime">Ime  administratora</label>
                            <input type="text" class="form-control" value={{kompanija.korisnici.ime}} name="ime">

                        </div>
                        <div class="form-group">
                            <label for="ime">Prezime  administratora</label>
                            <input type="text" class="form-control" value={{kompanija.korisnici.prezime}} name="prezime">

                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" value="{{kompanija.korisnici.email}}" name="email">

                        </div>
                        <div class="form-group">
                            <label for="adresa">Adresa</label>
                            <input type="text" class="form-control" value="{{kompanija.adresa}}" name="adresa">

                        </div>
                        <div class="form-group">
                            <label for="Broj telefona">Broj telefona</label>
                            <input type="text" class="form-control" value="{{kompanija.telefon}}" name="telefon">

                        </div>

                        <div class="form-group">
                            <label for="Username">Username</label>
                            <input type="text" class="form-control" value="{{kompanija.korisnici.username}}" name="username">

                        </div>
                        <div class="form-group">
                            <label for="lozinka">Password</label>
                            <input type="password" class="form-control" value="{{kompanija.korisnici.password}}" name="password" readonly="readonly">

                        </div>
                        <button type="submit" class="btn btn-primary">Snimi</button>
                    </form>
                </div>


            </div>


        </div>

    </div>
</div>
{% endblock%}