{% extends 'index.html' %} {% block body%}
<div id="wrapper">

    {% include 'pretraga.html' %}
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">


            <nav class="navbar  navbar-light bg-white topbar mb-4 static-top shadow">

                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
                </form>

                <a class="btn btn-primary col-xs-3" href="{{url_for('logout')}}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Odjavi se</span></a>


            </nav>

            <div class="container-fluid">


                <div class="p-5 " style="width: 500px;">
                    <div class="">
                        <h1 class="h4 text-gray-900 mb-4">Novi zahtev</h1>
                    </div>
                    <form action={{ url_for( 'a_zahtev_novi' ) }} method="POST">
                        <div class="form-group">
                            <label for="Br. zahteva">Br. zahteva</label>
                            <input type="text" class="form-control" value="{{datum.strftime(" %Y-%m ")}}" name="br_zahteva" readonly="readonly">

                        </div>
                        <div class="form-group">
                            <label for="Datum">Datum</label>
                            <input type="text" class="form-control" value="{{datum.strftime(" %d.%m.%Y ")}}" name="datum" readonly="readonly">

                        </div>
                        <div class="form-group">
                            <label for="Kompanija">Kompanija</label>
                            <select class="form-control " name='kompanija' placeholder="kompanija">
                                    
                                {% for kompanija in kompanije %}
                                <option value="{{ kompanija.naziv }}">{{ kompanija.naziv }}</option>
                                {% endfor %}   
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="podnosioc">Ime i prezime podnosioca</label>
                            <select class="form-control " name='ime_podnosioca' placeholder="kompanija">
                                    
                                {% for korisnik in korisnici %}
                               
                                <option value="{{ korisnik.ime }}">{{ korisnik.ime }}</option>
                             
                                {% endfor %}   
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="zahtev">Zahtev</label>
                            <textarea class="form-control" name="zahtev" id="exampleFormControlTextarea1" rows="2"></textarea>

                        </div>



                        <button type="submit" class="btn btn-primary">Snimi</button>
                    </form>
                </div>




            </div>


        </div>

    </div>
</div>



{% endblock%}